node_modules/
compilacion-code/
e2e/
.DS_Store
angular-cli.json
karma.conf.js
package-lock.json
package.json
protractor.conf.js
tslint.json
.editorconfig
angular.json
browserslist
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
mockups/